{% extends '::base.html.twig' %}

{% block body -%}

{% if entities != null %}
<h1>Auction list</h1>
<table id="example" class="table table-striped table-bordered dt-responsive nowrap">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Buy now</th>
      <th>Days</th>
      <th>Picture</th>
    </tr>
  </thead>
  <tbody>
    {% for entity in entities %}
    {% if entity.enabled == 1 %}
    <tr>
      <td><a href="{{path('auction_show', {'id': entity.id })}}"> {{ entity.title }} </a></td>
      <td>{{ entity.productPrice }}</td>
      {% if entity.buyNow == 1 %}
      <td>YES</td>
      {% else %}
      <td>NO</td>
      {% endif %}
      <td>{{ entity.endAuction.diff(entity.startAuction).days }}</td>
      {% if entity.picturePath is not null %}
      <td>
       <img src="{{ asset('images/'~ entity.user.id ~ '/' ~ entity.picturePath) }}" width="50" />
     </td>
     {% else %}
     <td> </td>
     {% endif %}
   </tr>
   {% endif %}
   {% endfor %}
 </tbody>
</table>
{% else %}
<h2> Nothing here! </h2>
</br>
<a href="{{path('homepage')}}" class="btn btn-danger"> Back </a>
{% endif %}

{% endblock %}
{% block javascripts %}
<script language="JavaScript" type="text/javascript">
  $('#example').DataTable({
    "iDisplayLength": 25
  });
</script>
{% endblock %}