{% extends '::profileBase.html.twig' %}

{% block body -%}
<h1>Message recipient</h1>
<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Auction</th>
            <th>Subject</th>
            <th>Postdate</th>
            <th>User Sender</th>
            <th> ShowMessage </th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path ('auction_show', {'id': entity.auction.id} ) }}">  {{ entity.auction.title }}</a></td>
            <td>{{ entity.subject }}</a></td>
            <td>{% if entity.postDate %}{{ entity.postDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{entity.userSender}}</td>
            <td><a href="{{path('message_show_all_recipient', {'subject': entity.subject, 'userMessage': entity.userSender})}}" > Messages </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
{% block javascripts %}
<script language="JavaScript" type="text/javascript">
    $('#myTable').DataTable({
        "iDisplayLength": 15
    });
</script>
{% endblock %}