{% extends 'base.html.twig' %}

{% block leftMenu %}

 <td><a href="{{ path('sonata_user_profile_edit') }}">Edit profile</a></td>
 </br>

 <td><a href="{{ path('profile_auctions', {'id': app.user.id } ) }}">Auctions</a></td>
 </br>
 <td><a href="{{ path('profile_comments', {'id': app.user.id, 'routeName': app.request.get('_route') } ) }}">Comment</a></td>
 </br>
 <td><a href="{{ path('profile_messages_sender', {'id': app.user.id } ) }}">Send message</a></td>
 </br>
 <td><a href="{{ path('profile_messages_recipient', {'id': app.user.id } ) }}">Recipient message</a></td>


{% endblock %}



{% block javascripts %}
     <script src="{{ asset('assets/vendor/MyJS/test.js') }}"></script>
{% endblock %}

