{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Auction</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content|raw }}</td>
            </tr>
            <tr>
                <th>Picturepath</th>
                <td>{{ entity.picturePath }}</td>
            </tr>
            <tr>
                <th>End auction</th>
                <td>{{ entity.endAuction|date('Y-m-d H:i:s') }}</td>
            </tr>

        </tbody>
    </table>

 {{ entity.endAuction.diff(entity.startAuction).days }}



</ul>
{% endblock %}
