{% extends '::base.html.twig' %}

{% block body -%}
<h1>Bidding edit</h1>
{{form_start(edit_form)}}

{{ form_row(edit_form.payment) }}
{{ form_row(edit_form.shipping) }}

{{ form_row(edit_form.submit) }}
<div class="hidden">
   {{ form_end(edit_form) }}
</div>


<li>
    <a href="{{ path('bidding_user_win') }}">
        Back to the list
    </a>
</li>

</ul>
{% endblock %}
