{% extends '::profileBase.html.twig' %}

{% block body -%}
<h1>Bidding list</h1>

<table id="myTable" class="table">
    <thead>
        <tr>
            <th>Auction</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Biddingdate</th>
            <th>Winning</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{path('auction_show', {'id': entity.auction.id} )}}"> {{entity.auction.title}}</td>
            <td>{{entity.price}}</td>
            <td>{{ entity.amount }}</td>
            <td>{% if entity.biddingDate %}{{ entity.biddingDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            {% if entity.winning == 1 %}
            <td>YES</td>
            {% else %}
            <td>NO</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
{% block javascripts %}
<script language="JavaScript" type="text/javascript">
    $('#myTable').DataTable({
        "iDisplayLength": 25
    });
</script>
{% endblock %}