{% extends '::profileBase.html.twig' %}

{% block body -%}
    <h1>Bidding list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Biddingdate</th>
                <th>Winning</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('bidding_show', { 'id': entity.id }) }}">{{ entity.amount }}</a></td>
                <td>{% if entity.biddingDate %}{{ entity.biddingDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.winning }}</td>
                <td>{{ entity.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% endblock %}
